<h2 align='center'> Ques3. Create own jupyter notebook for Sets </h2>
<hr>

# Sets

* A set is a collection which is unordered and unindexed
* Just like dictionary It is also written in Curly Braces { }

### 1.  Acessing Item 

* As we cannot access items in a set by referring to an index, since sets are unordered the items has no index 
* We can access the element in a set by using for loop
* Sets are unordered, so We cannot be sure in which order the items will appear.

In [8]:
items = {'ashok','games','black','color'}
for i in items:
    print(i)

games
black
color
ashok

### 2. Change Item
* Just like Tuple , Once a set is created, you cannot change its items.
* But we can add new items 
<hr>

### Adding New item 
* For **adding single item** to a set use the **add()** method.

* For **adding more than one item** to a set use the **update()** method.

In [9]:
items = {'ashok','games','black','color'}
print('SET is: ',items)

# add( ) method :
items.add('and')
print('Single element added by using add fnction: ', items)

# update( ) method : 
items.update(['hates','pink','colors'])
print('Multiple elements are added by using update fnction: ', items)

SET is:  {'games', 'black', 'color', 'ashok'}
Single element added by using add fnction:  {'color', 'and', 'ashok', 'black', 'games'}
Multiple elements are added by using update fnction:  {'colors', 'color', 'hates', 'and', 'ashok', 'black', 'games', 'pink'}

### Methods of Set :
* len()
* remove()
* clear()
* pop()
* discard()
* add()
* update()
* copy()
* difference()
* union()
* intersection()
* symmetric difference()
... Etc

In [10]:
set1 = {'black', 'colors', 'ashok', 'pink', 'color', 'play', 'games', 'and'}
set2 = {'ashok','dont','have','any','colors','in','life'}
print('SET1: ',set1)
print('SET2: ',set2)
print('Length of Set1: ',len(set1))
print('Length of Set2: ', len(set2))

SET1:  {'colors', 'color', 'play', 'and', 'ashok', 'black', 'games', 'pink'}
SET2:  {'colors', 'in', 'ashok', 'dont', 'life', 'any', 'have'}
Length of Set1:  8
Length of Set2:  7

In [11]:
print('Removing one element from set1: ')
set1.remove('and')
print('After removing SET1 is: ',set1)

Removing one element from set1:
After removing SET1 is:  {'colors', 'color', 'play', 'ashok', 'black', 'games', 'pink'}

* To **remove an item** in a set, you can use **remove() or discard()**
* If you use **remove( )** if the item is not in a set , It will **raise an error** .
* If you use **discard( )**  if the item is not in a set , It will **not raise an error** .

In [12]:
set3 = {'apple','banana','cherry','mango'}
print("SET3: ", set3)
set3.clear()
print('Clearing a set:',set3)

SET3:  {'mango', 'cherry', 'apple', 'banana'}
Clearing a set: set()

In [13]:
print('Deleting set3:')
del set3
print('Set Deleted Succesfully')

Deleting set3:
Set Deleted Succesfully

In [14]:
print('Join two sets: SET1 and SET2:')
print('SET1: ',set1)
print('SET2: ',set2)
set3 = set1.union(set2)
print('After joining two sets: ', set3)

Join two sets: SET1 and SET2:
SET1:  {'colors', 'color', 'play', 'ashok', 'black', 'games', 'pink'}
SET2:  {'colors', 'in', 'ashok', 'dont', 'life', 'any', 'have'}
After joining two sets:  {'colors', 'color', 'have', 'play', 'in', 'ashok', 'dont', 'life', 'black', 'games', 'any', 'pink'}

* In a set , No repetiton is allowed (exclude any duplicate items)

In [15]:
print('Checking the Common/Duplicate Items: ')
seta = set1.intersection(set2)
print('Intersection of sets:', seta)

Checking the Common/Duplicate Items:
Intersection of sets: {'colors', 'ashok'}